{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}

<div class="login">

<div class="min-h-screen bg-gray-100 text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-2 sm:max-w-xl mx-auto text-center">
      <span class="text-2xl font-light">Register your account</span>
      <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
        <div class="h-2 bg-indigo-400 rounded-t-md"></div>
        <div class="py-6 px-8">
        <form method="POST">
            {% csrf_token %}
                {{ form.as_p }}
            <div class="flex justify-center">
                <button class="mt-5 bg-indigo-500 text-white py-2 px-20 rounded-lg hover:bg-indigo-600 " type="submit" name="submit">Register</button> <!-- for register -->
            </div>
        </form>



    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- <h1>Register</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>
                </tr>
            </table>
        </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->

</div>

{% endblock content %}